body
{
    margin: 0 auto;
}
form {
    width: 400px;
    height: 600px;
    background-color: beige;
    padding: 10px;
    display: inline-block;
    left-margin: auto;
    right-margin: auto;
    text-align: left;
    margin-top: 50px;
    border: 2px solid green;
    border-radius: 10%;
}


h2 {
    text-align: center;
}